:root {
    --white: #fff;
    --black: #000;
    --blue400: #3C82F4;
    --blue500: #326CF9;
    --blue600: #306EF7;
    --blue700: #082b75;
    --pink300: rgba(254, 103, 131, 1), rgba(255, 191, 132, 1);
}

body {
    background: #000;
}

.header {
    background-color: var(--black);
    padding-top: 3rem;
    position: relative;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo,
.footer__logo {
    display: flex;
    align-items: flex-start;
    gap: 1.06rem;
}

.header__logo-title,
.footer__title {
    color: #FFF;
    font-size: 2.3125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 3.5rem;
}

.menu__btn {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.menu__btn span {
    height: 2px;
    background-color: #fff;
    width: 100%;
}

.nav {
    display: flex;
}

.nav__list,
.footer__list {
    display: flex;
    align-items: center;
    gap: 2.44rem;
}

.nav__list-item:first-child::after {
    content: url(../img/Down_arrow.svg);
    padding-left: 0.57rem;
}

.nav__list-link,
.footer__list-link,
.header__login a,
.button__demo a,
.button__demos a,
.button__view a {
    color: #707070;
}

.nav__list-link:hover,
.header__login-link:hover,
.footer__list-link:hover {
    color: var(--blue400);
}

.nav__list-item,
.header__login,
.footer__list-item {
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    list-style-type: none;
}

.header__button a,
.button__start a,
.button__started a,
.header__logo-title a {
    color: var(--white);
}

.header__auth {
    display: flex;
    align-items: center;
    gap: 2.88rem;
}

.header__button {
    width: 7.4375rem;
    height: 3.4375rem;
    background-color: var(--blue600);
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    border: 1px solid var(--blue600);
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
}

.header__button:hover,
.form__button:hover {
    background-color: var(--blue700);
}

.header__main {
    padding-top: 8.88rem;
}

.header__title {
    color: var(--white);
    font-size: 6rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title span {
    background: linear-gradient(to right, rgba(254, 103, 131, 1), rgba(255, 191, 132, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__desc {
    padding-bottom: 3rem;
}

.header__text {
    color: var(--white);
    font-size: 2.5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11.94rem;
    padding-bottom: 1.31rem;
}

.button__start {
    width: 19.5625rem;
    height: 4.8125rem;
    background-color: rgba(50, 108, 249, 1);
    border: 1px solid rgba(50, 108, 249, 1);
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    transition: background-color 0.3s ease;
}

.button__demo {
    width: 19.5625rem;
    height: 4.8125rem;
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 0.625rem;
    color: #707070;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    transition: background-color 0.3s ease;
}

.header__create {
    display: flex;
    justify-content: center;
    gap: 0.56rem;
    align-items: center;
    padding-bottom: 11.75rem;
}

.header__number {
    color: var(--white);
    font-size: 1.5625rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
}

.header__summary {
    color: #707070;
    font-size: 1.5625rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section__title {
    color: #FFF;
    font-size: 4.6875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 7rem;
}

.section__subtitle {
    color: #3D82F2;
    font-size: 1.5625rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
}

.section__desc {
    color: #707070;
    font-size: 1.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8125rem;
    text-align: center;
}

.section__text {
    color: #FFF;
    font-size: 2.6875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
}

.section__heading {
    color: #FFF;
    font-size: 1.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8125rem;
    padding-bottom: 5rem;
    text-align: center;
}

.section__list-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.section__list-item:first-child {
    margin-bottom: 0.75rem;
}

.section__list-item:last-child {
    margin-bottom: 4rem;
}

.section__list-title {
    border: 1px solid rgba(45, 45, 45, 1);
    border-radius: 50%;
    width: 2.0625rem;
    height: 2.0625rem;
    background-color: rgba(45, 45, 45, 1);
    color: #FFF;
    font-size: 1.125rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section__list-desc {
    color: #FFF;
    font-size: 1.4375rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
}

.section__button {
    display: flex;
    gap: 5rem;
}

.section__image {
    position: absolute;
    right: -292px;
    top: -19px;
}

.create,
.connect,
.homepage,
.share,
.send,
.reach,
.experts,
.gratitude,
.start {
    background-color: var(--black);
}

.create__main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 10rem;
}

.create__title {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.create__smile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 4rem;
}

.create__smile-title {
    color: #FFF;
    font-size: 2rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem;
}

.create__desc {
    color: #707070;
    font-size: 1.1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem;
}

.connect__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect__button {
    display: flex;
    justify-content: center;
    padding-top: 3.63rem;
    padding-bottom: 11.31rem;
}

.button__view {
    width: 19.5rem;
    height: 4.75rem;
    border: 1px solid #707070;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    transition: background-color 0.3s ease;
}

.button__view-link {
    color: #707070;
}

.homepage__inner {
    position: relative;
    display: flex;
    align-items: center;
}

.homepage__main,
.reach__main {
    padding-bottom: 11rem;
}

.homepage__heading {
    padding-bottom: 3rem;
}

.homepage__title-span {
    color: #3C82F4;
}

.button__started {
    width: 12.9375rem;
    height: 4.0625rem;
    border: 1px solid var(--blue600);
    border-radius: 0.625rem;
    background-color: var(--blue600);
    color: #FFF;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    transition: background-color 0.3s ease;
}

.button__start:hover,
.button__started:hover {
    background-color: var(--blue700);
}

.button__demos {
    width: 12.9375rem;
    height: 4.0625rem;
    border: 1px solid #474747;
    border-radius: 0.625rem;
    color: #707070;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    transition: background-color 0.3s ease;
}

.button__demo:hover,
.button__demos:hover,
.button__view:hover {
    background-color: #242323;
}

.share__inner {
    padding-bottom: 12rem;
}

.share__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 11rem;
}

.share__list {
    display: flex;
    gap: 1.44rem;
    padding-bottom: 4.44rem;
}

.share__link {
    z-index: 0;
    width: 53.375rem;
    height: 41.625rem;
    background: #0D0D0D;
    position: relative;
}

.share__collect {
    z-index: 1;
    width: 53.375rem;
    height: 41.625rem;
    background: #0D0D0D;
}

.share__subtitle {
    color: #0FC65C;
    font-size: 1.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8125rem;
    padding: 2.06rem 0rem 0rem 2.83rem;
}

.share__title {
    color: #919191;
    font-size: 4rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    padding: 2.06rem 0rem 0rem 2.83rem;
}

.share__title span {
    color: #FFF;
}

.share__mobile {
    position: absolute;
    left: 6.375rem;
}

.share__button {
    display: flex;
    justify-content: center;
}

.send__inner {
    padding-bottom: 12rem;
}

.send__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach__inner {
    position: relative;
    display: flex;
    align-items: center;
}

.experts__inner {
    padding-bottom: 12rem;
}

.experts__heading {
    display: flex;
    justify-content: center;
    padding-bottom: 3.25rem;
}

.gratitude__inner {
    padding-bottom: 12rem;
}

.gratitude__main {
    position: relative;
}

.gratitude__title {
    position: absolute;
    top: 11.313rem;
    left: 13.4rem;
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 6.5625rem;
}

.start__image {
    display: flex;
    justify-content: center;
}

.start__button {
    display: flex;
    justify-content: center;
    padding-bottom: 1.62rem;
}

.start__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    color: #707070;
    font-size: 1.6875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
}

.mission__inner {
    padding-top: 8.8rem;
}

.mission__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 11.62rem;
}

.mission__logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.6rem;
    padding-bottom: 3rem;
}

.mission__logo-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 3.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5.8125rem;
}

.mission__painting {
    color: #FFF;
}

.mission__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission__text {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.625rem;
    width: 68.75rem;
    padding-bottom: 3rem;
}

.mission__about {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
    width: 68.75rem;
    padding-bottom: 3rem;
}

.mission__line {
    padding-bottom: 11rem;
}

.team__inner {
    padding-bottom: 12rem;
}

.team__heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3.7rem;
}

.team__main {
    display: flex;
    justify-content: center;
    gap: 12rem;
}

.team__create {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team__image {
    padding-bottom: 1.06rem;
}
.team__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
}
.team__desc {
    color: #7F7F7F;
    font-family: Poppins;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 1.31rem;
}
.team__link {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}

.team__link::after {
    content: url(../img/shape.svg);
    padding-left: 0.47rem;
}

.plan__inner {
    padding-top: 8.8rem;
    padding-bottom: 12rem;
}

.plan__heading {
    padding-bottom: 7.7rem;
}

.plan__basic {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.plan__main {
    border: 1px solid #707070;
    background-color: #131313;
    border-radius: 1.563rem;
    width: 31rem;
}

.plan__blue {
    background-color: #3C82F4;
}

.plan__list-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.6875rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.plan__list-desc {
    color: #B4B1B1;
    font-family: Poppins;
    font-size: 1.50rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.625rem;
    padding-left: 2rem;
}
.plan__list-coin {
    color: #FFF;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.5rem;
    padding-left: 2rem;
}

.plan__list-alt {
    padding-bottom: 5.625rem;
}


.plan__list-span {
    color: #B4B1B1;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4375rem;
    padding-left: 0.2rem;
}

.plan__list-offer {
    color: #B4B1B1;
    font-family: Poppins;
    font-size: 1.50rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.625rem;
    text-decoration-line: underline;
    padding-bottom: 3rem;
    padding-left: 2rem;
}

.plan__collect-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    padding-left: 2rem;
}

.plan__collect-desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.625rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.plan__collect-text {
    color: #B4B1B1;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
}

.plan__key-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
    padding-bottom: 1.7rem;
    padding-left: 2rem;
}

.plan__key-desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    padding-bottom: 1.2rem;
    padding-left: 2rem;
}

.plan__key-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
}

.plan__key-text::before,
.plan__key-desc::before {
    content: url(../img/check.svg);
    padding-right: 0.6rem;
}

.plan__list-blue,
.plan__collect-blue {
    color: #fff;
}

.plan__list-basic {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4375rem;
    padding-left: 0.2rem;
}

.plan__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.button__plan {
    border: 1px solid #4681E7;
    border-radius: 0.625rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    width: 22.813rem;
    height: 5rem;
}

.button__plan-white {
    background-color: #FFF;
    color: #3C82F4;
}

.content__inner {
    padding-top: 8.8rem;
    padding-bottom: 12rem;
}

.content__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8rem;
}

.content__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 11.25rem;
}

.content__desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8125rem;
}

.content__main-one,
.content__main-two,
.content__main-three {
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding-bottom: 1.5rem;
}

.content__main-four {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.content__list {
    width: 25.125rem;
    border: 1px solid #707070;
    border-radius: 12px;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content__list-coming {
    position: relative;
    top: -14px;
    width: 9.0625rem;
    height: 2.4375rem;
    background-color: rgba(16, 33, 66, 1);
    border: 1px solid rgba(16, 33, 66, 1);
    border-radius: 0.6rem;
}
.content__list-alt {
    color: #4A7DE3;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 9px;
}

.content__list-image {
    padding-bottom: 0.3rem;
    display: flex;
    gap: 10rem;
}

.content__list-naming {
    padding-bottom: 0.3rem;
}

.content__list-title {
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8125rem;
}

.content__list-title a {
    color: #FFF;
}

.content__list-text {
    color: #828282;
    font-family: Poppins;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
}

.signup__inner {
    padding-top: 6rem;
}

.signup__heading,
.login__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {

}

.form {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-group-one {
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding-bottom: 5rem;
}

.form-group-two {
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.username,
.email,
.password {
    position: relative;
}
.form__username {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    border-bottom: 1px solid #363636;
    width: 30.4375rem;
    height: 3.1555rem;
}

.username__image{
    position: absolute;
    right: 12px;
    top: 10px;
}

.email__image {
    position: absolute;
    right: 12px;
    top: 10px;
}

.password__image {
    position: absolute;
    right: 8px;
    top: 14px;
}

.form__username::placeholder,
.form__email::placeholder,
.form__password::placeholder {
    color: #fff;    
}

.form__email {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    border-bottom: 1px solid #363636;
    width: 30.4375rem;
    height: 3.1555rem;
}

.form__password {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    border-bottom: 1px solid #363636;
    width: 30.4375rem;
    height: 3.1555rem;
}

.form__button {
    color: #fff;
    font-family: Poppins;
    font-size: 1.4375rem;
    width: 30.5rem;
    height: 5.3125rem;
    background-color: #326CF9;
    border: 1px solid #326CF9;
    border-radius: 0.625rem;  
    transition: background-color 0.3s ease;
}

.signup__basic,
.login__basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.87rem;
}

.signup__title,
.login__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.0625rem;
}

.signup__desc,
.login__desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.25rem;
}

.signup__social,
.login__social {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 4.5rem;
}

.signup__apple,
.login__apple {

}

.button__apple {
    border: 2px solid #FFF;
    border-radius: 0.625rem;
    width: 22.5rem;
    height: 4.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.20rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    transition: background-color 0.3s ease;

}

.button__apple::before {
    content: url(../img/apple_logo.svg);
}

.signup__facebook,
.login__facebook {

}

.button__facebook {
    border: 2px solid #FFF;
    border-radius: 0.625rem;
    width: 22.5rem;
    height: 4.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.20rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    transition: background-color 0.3s ease;
}

.button__facebook::before {
    content: url(../img/facebook.svg);
}

.signup__google,
.login__google {

}

.button__google {
    border: 2px solid #FFF;
    border-radius: 0.625rem;
    width: 22.5rem;
    height: 4.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.20rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    transition: background-color 0.3s ease;
}

.button__google::before {
    content: url(../img/google.svg);
}

.button__apple:hover,
.button__facebook:hover,
.button__google:hover {
    background-color: #828282;
}

.signup__already,
.login__already {
    display: flex;
    justify-content: center;
    padding-bottom: 4.6rem;
}

.signup__already-desc,
.login__already-desc {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.signup__already-desc a,
.login__already-desc a {
    color: #fff;
}

.signup__already-desc a:hover,
.login__already-desc a:hover {
    color: #7F7F7F;
}

.login__inner {
    padding-top: 6rem;
}

/* Media query for mobile */

@media screen and (max-width: 1480px) {
    .container {
        max-width: 90%;
    }
    .share__link {
        justify-content: center;
    }

    .share__collect {
        
    }
}

@media screen and (max-width: 1240px) {
    .container {
        max-width: 90%;
    }

    .header__inner {
        flex-wrap: wrap;
    }

    .header__title {
        font-size: 3.8rem;
        line-height: 6rem;
    }

    .header__text {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .header__control {
        flex-direction: column;
        gap: 2rem;
    }

    .button__start,
    .button__demo {
        width: 19.5625rem;
    }

    .header__create {
        gap: 1.5rem;
        padding-bottom: 5rem;
    }

    .header__number,
    .header__summary {
        text-align: center;
    }

    .section__title {
        font-size: 3rem;
        line-height: 5rem;
    }

    .section__subtitle {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .section__desc {
        font-size: 1.6rem;
        line-height: 2.5rem;
        width: 75%;
    }

    .section__text {
        font-size: 2rem;
        line-height: 3rem;
    }

    .section__heading {
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-bottom: 3rem;
    }

    .create__main {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 5rem;
    }

    .create__title {
        padding-bottom: 2rem;
    }

    .create__desc {
        text-align: center;
    }

    .create__smile {
        padding-top: 0rem;
    }

    .connect__main {

    }

    .connect__button {
        padding-bottom: 8rem;
    }

    .homepage__inner {
        display: block;
        padding-bottom: 4rem;
    }

    .section__element {
        display: flex;
        justify-content: space-evenly;
    }

    .section__image {
        position: static;
    }

    .homepage__main,
    .reach__main {
        padding-bottom: 8rem;
    }

    .homepage__heading,
    .reach__heading {
        padding-bottom: 2rem;
        text-align: center;
    }

    .section__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__button {
        justify-content: center;
    }

    .share__heading {
        padding-bottom: 8rem;
    }

    .share__list {
        flex-wrap: wrap;
    }

    .share__link {
        width: 100%;
    }

    .share__collect {
        width: 100%;
    }

    .share__subtitle {

    }

    .share__title {

    }

    .share__mobile {

    }

    .reach__inner {
        display: block;
        padding-bottom: 4rem;
    }

    .gratitude__title {
        font-size: 3rem;
        line-height: 6rem;
        top: 6rem;
        left: 9rem;
    }

    .send__inner {
        padding-bottom: 8rem;
    }

    .experts__inner {
        padding-bottom: 8rem;
    }

    .start__button {
        padding-bottom: 1rem;
    }

    .footer__inner {

    }

    .footer__title {
        
    }

    .footer__text {
        text-align: center;
        font-size: 1.5rem;
    }

    .footer__list {

    }

    .footer__list-item {
        font-size: 1rem;
    }

    .mission__inner {
        padding-top: 6rem;
    }

    .mission__main {
        gap: 4rem;
        padding-bottom: 8rem;
    }

    .mission__text {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .mission__about {
        text-align: center;
    }

    .team__main {
        gap: 4rem;
    }

    .team__create {
        align-items: center;
    }

    .team__link {
        text-align: center;
    }

    .plan__heading {
        padding-bottom: 6rem;
        text-align: center;
    }

    .plan__basic {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .content__heading {
        padding-bottom: 6rem;
    }

    .content__title {
        font-size: 5rem;
        line-height: 7rem;
    }

    .content__desc {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .content__main-one,
    .content__main-two,
    .content__main-three,
    .content__main-four {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .content__list,
    .content__list-image,
    .content__list-naming {

    }

    .signup__inner,
    .login__inner {
        padding-top: 4rem;
    }

    .login__basic,
    .signup__basic {
        gap: 2rem;
    }

    .form-group-one,
    .form-group-two {
        display: block;
        padding-bottom: 0rem;
        text-align: center;
    }

    .username,
    .email,
    .password {
        padding-bottom: 2rem;
        padding-left: 2.5rem;
    }

    .username__image {
        position: relative;
        right: 45px;
    }


    .email__image {
        position: relative;
        right: 45px;
    }


    .password__image {
        position: relative;
        right: 45px;
    }

    .signup__social,
    .login__social {
        display: block;
    }

    .button__apple,
    .button__facebook,
    .button__google {
        margin-top: 2rem;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .container {
        max-width: 90%;
    }

    .header__auth {
        display: none;
    }

    .nav__list-item {
        margin: 10px 0;
    }

    .menu__btn {
        display: flex;
        position: relative;
        z-index: 10;
        top: 1rem;
    }

    .nav__list {
        position: absolute;
        z-index: 5;
        display: flex;
        background-color: #151515;
        flex-direction: column;
        height: 130vh;
        padding-top: 100px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease;
        overflow: hidden;
    }
    
    .nav__list.nav__list--active {
        transform: translateY(0);
    }
}



@media screen and (max-width: 860px) {

}

@media screen and (max-width: 768px) {
    .section__title {
        font-size: 2.3rem;
    }

    .plan__list-title {

    }

    .plan__list-desc {

    }

    .plan__list-coin {

    }


    .footer__main {
        padding-bottom: 2rem;
    }
    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        
    }

    .footer__text {

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__list-item {

    }
}

@media screen and (max-width: 728px) {
    .section__title {
        font-size: 2.1rem;
    }
    .section__text {
        font-size: 1.8rem;
    } 
}

@media screen and (max-width: 660px) {
    .section__title {
        font-size: 1.9rem;
        text-align: center;
    }
    .section__text {
        font-size: 1.5rem;
    }

    .content__title {
        font-size: 4rem;
        text-align: center;
    }

    .content__desc {
        font-size: 1.2rem;
        text-align: center;
    }

    .gratitude__title {
        font-size: 2rem;
        line-height: 3rem;
        top: 65px;
        left: 35px;
    }

    .mission__about {
        font-size: 1.5rem;
    }

    .team__main {
        flex-wrap: wrap;
    }

        
    .form {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .login__basic,
    .signup__basic {
        padding-bottom: 0rem;
    }

    .username,
    .email,
    .password {
        padding-left: 1rem;
    }

    .form__username,
    .form__email,
    .form__password {

    }

    .form__button {
    }

    .username__image {

    }

    .username__image{
        position: relative;
        left: -43px;
        top: 5px;
    }
    
    .email__image {
        position: relative;
        left: -43px;
        top: 5px;
    }
    
    .password__image {
        position: relative;
        left: -43px;
        top: 5px;
    }

    .footer__main {
        padding-bottom: 2rem;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        
    }

    .footer__text {

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__list-item {

    }
}

@media screen and (max-width: 588px) {
    .username__image{
        position: relative;
        left: 227px;
        top: -43px;
    }
    
    .email__image {
        position: relative;
        left: 227px;
        top: -43px;
    }
    
    .password__image {
        position: relative;
        left: 227px;
        top: -43px;
    }
}

@media screen and (max-width: 550px) {

    .header__title {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
    }

    .header__caption {
        padding-left: 1rem;
    }

    .section__title {
        font-size: 2rem;
        text-align: center;
        line-height: 4rem;
    }

    .section__text {
        font-size: 1.5rem;
    }

    .section__desc {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .share__list {
    }
    .share__link {
        height: 30rem;
    }
    .share__subtitle {
        font-size: 1.4rem;
    }
    .share__title {
        font-size: 3rem;
    }
    .share__mobile {
    }
    .share__collect {
    }

    .section__list {
        
    }
    
    .mission__about {
        font-size: 1.4rem;
    }
    
    .mission__line {
        padding-bottom: 6rem;
    }

    .team__inner {
        padding-bottom: 4rem;
    }

    .team__heading {
        font-size: 3rem;
    }

    .team__main {
        flex-wrap: wrap;
    }

    .section__list-desc {
        font-size: 1rem;
    }

    .content__inner {
        padding-bottom: 6rem;
    }

    .content__title {
        font-size: 3rem;
        line-height: 5rem;
    }

    .content__desc {
        font-size: 1.2rem;
    }

    .gratitude__inner {
        padding-bottom: 6rem;
    }

    .gratitude__title {
        font-size: 1.8rem;
        line-height: 3rem;
        top: 46px;
        left: 10px;
    }

    .header__summary {
        font-size: 1.4rem;
    }

    
    .form {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .login__basic,
    .signup__basic {
        padding-bottom: 0rem;
    }

    .username,
    .email,
    .password {
        padding-left: 1rem;
    }

    .form__username,
    .form__email,
    .form__password {
        font-size: 1rem;
        width: 22rem;
    }

    .form__button {
        width: 21rem;
    }

    .username__image {

    }

    .username__image{
        position: relative;
        left: -37px;
        top: 3px;
    }
    
    .email__image {
        position: relative;
        left: -37px;
        top: 3px;
    }
    
    .password__image {
        position: relative;
        left: -37px;
        top: 3px;
    }

    .footer__main {
        padding-bottom: 2rem;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        
    }

    .footer__text {

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__list-item {

    }
}

@media screen and (max-width: 440px) {
    
    .section__title {

    }

    .section__text {
        font-size: 1.2rem;
    }

    .form {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .login__basic,
    .signup__basic {
        padding-bottom: 0rem;
    }

    .username,
    .email,
    .password {
        padding-left: 1rem;
    }

    .form__username,
    .form__email,
    .form__password {
        width: 22rem;
    }

    .form__button {
        width: 21rem;
    }

    .username__image {

    }

    .username__image{
        position: relative;
        left: 155px;
        top: -45px;
    }
    
    .email__image {
        position: relative;
        left: 155px;
        top: -45px;
    }
    
    .password__image {
        position: relative;
        left: 155px;
        top: -45px;
    }
}


@media screen and (max-width: 360px) {
    .header__caption {
        padding-bottom: 1rem;
    }
    .header__title {
        font-size: 2.5rem;
        line-height: 5rem;
        text-align: center;
    }
    .section__title {
        font-size: 1.5rem;
        text-align: center;
        line-height: 4rem;
    }
    .section__text {
        font-size: 0.9rem;
    }

    .section__heading {
        font-size: 1.6rem;
        line-height: 2rem;
        padding-bottom: 2rem;
    }

    .section__desc {
        font-size: 1.1rem;
    }

    .section__list-item {
        flex-direction: column;
    }

    .section__list-desc {
        font-size: 1rem;
        text-align: center;
    }

    .section__button {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .share__link,
    .share__collect {
        height: 21rem
    }

    .share__subtitle {
        font-size: 1.2rem;
    }

    .share__title {
        font-size: 2rem;
    }

    .share__mobile {
        left: 4rem;
    }

    .create__smile-title {
        font-size: 1.7rem;
    }

    .create__desc {
        font-size: 0.9rem;
    }

    .mission__text {
        font-size: 1rem;
    }

    .mission__about {
        font-size: 0.9rem;
    }

    .header__summary {
        font-size: 1.1rem;
    }

    .team__main {
        flex-wrap: wrap;
    }

    .experts__inner {
        padding-bottom: 4rem;
    }

    .gratitude__inner {
        padding-bottom: 4rem;
    }

    .gratitude__title {
        font-size: 1rem;
        line-height: 2rem;
        left: 30px;
        top: 35px;
    }

    .content__inner {
        padding-bottom: 4rem;
    }

    .content__title {
        font-size: 2rem;
    }

    .content__desc {
        font-size: 0.8rem;
    }

    .content__list-title {
        font-size: 1.2rem;
    }

    .content__list-text {
        font-size: 1.1rem;
    }

    .content__list-coming {
        left: -8px;
    }

    .content__list-alt {
        font-size: 0.8rem;
        padding-left: 0.2rem;
    }

    .form {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .login__basic,
    .signup__basic {
        padding-bottom: 0rem;
    }

    .username,
    .email,
    .password {
        padding: 1rem;
    }

    .form__username,
    .form__email,
    .form__password {
        font-size: 1rem;
        width: 18.4375rem;
    }

    .form__button {
        width: 19rem;
    }

    .username__image {

    }

    .username__image{
        position: absolute;
        left: 277px;
        top: 21px;
    }
    
    .email__image {
        position: absolute;
        left: 277px;
        top: 21px;
    }
    
    .password__image {
        position: absolute;
        left: 277px;
        top: 21px;
    }

    .footer__main {
        padding-bottom: 2rem;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        
    }

    .footer__text {

    }

    .footer__list {
        display: flex;
        flex-direction: column;
    }

    .footer__list-item {

    }
}